<html ng-app="OWI">
<head>
  <title>Overwatch Item Data Helper</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/main.css">
  <script src="./js/angular.min.js"></script>
  <script src="./js/ui-bootstrap.min.js"></script>
  <script src="./js/app.js"></script>
</head>
<body ng-controller="MainCtrl as $ctrl">
  <div class="page-header">
    <h1>Overwatch Item Data Helper <small>ayyyyyyy</small></h1>
  </div>

  <div class="row" id="controls">
    <div class="col-lg-7">
      <div class="form-group">
        <label>Raw Data</label> <span class="reloadbtn" ng-click="$ctrl.updateRawData()">Reload</span>
        <textarea class="form-control" rows="35" ng-change="$ctrl.onChange()" ng-model="$ctrl.rawData"></textarea>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="row">
        <div class="col-md-12">
          <label>Add a new Event</label>
          <div class="input-group">
            <input ng-disabled="!$ctrl.rawData" type="text" class="form-control" ng-model="newEvent" placeholder="Name of Event">
            <span class="input-group-btn">
              <button ng-disabled="!$ctrl.rawData" class="btn btn-primary" type="button" ng-click="$ctrl.addEvent(newEvent)">Add Event</button>
            </span>
          </div>
        </div>
      </div>
      <div class="row row-divider">
        <div class="col-md-3">
          <label>Select Hero</label>
          <div class="forum-group">
            <div class="btn-group" uib-dropdown>
              <button ng-disabled="!$ctrl.rawData" id="btn-append-to-single-button" type="button" class="btn btn-primary" uib-dropdown-toggle style="min-width:120px">
                {{$ctrl.parsedData[$ctrl.newItem.hero].name || 'Select Hero'}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                <li role="menuitem" ng-repeat="(i, hero) in $ctrl.parsedData"><a href="#" ng-click="$ctrl.newItem.hero = i">{{hero.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label>Select Event</label>
          <div class="forum-group">
            <div class="btn-group" uib-dropdown>
              <button ng-disabled="!$ctrl.rawData" id="btn-append-to-single-button" type="button" class="btn btn-primary" uib-dropdown-toggle style="min-width:241px">
                {{$ctrl.newItem.event || 'Select Event'}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                <li role="menuitem" ng-repeat="(event, val) in $ctrl.parsedData[$ctrl.newItem.hero].items"><a href="#" ng-click="$ctrl.newItem.event = event">{{event}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="text-align:right">
          <label>Next Hero</label>
          <div class="forum-group">
            <div class="btn-group">
              <button ng-disabled="$ctrl.newItem.hero === false" id="btn-append-to-single-button" type="button" ng-click="$ctrl.selectNextHero()" class="btn btn-primary">
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-divider">
        <div class="col-md-3">
          <label>Select Item Type</label>
          <div class="forum-group">
            <div class="btn-group" uib-dropdown>
              <button ng-disabled="!$ctrl.rawData" id="btn-append-to-single-button" type="button" class="btn btn-primary" uib-dropdown-toggle  style="min-width:120px" ng-keyup="$ctrl.selectNextOption($event, 'type')">
                {{$ctrl.newItem.type || 'Select Type'}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                <li role="menuitem" ng-repeat="type in $ctrl.types"><a href="#" ng-click="$ctrl.newItem.type = type">{{type}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label>Select Item Quality</label>
          <div class="forum-group">
            <div class="btn-group" uib-dropdown>
              <button ng-disabled="!$ctrl.rawData" id="btn-append-to-single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-keyup="$ctrl.selectNextOption($event, 'quality')">
                {{$ctrl.newItem.quality || 'Select Quality'}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                <li role="menuitem" ng-repeat="quality in $ctrl.qualities"><a href="#" ng-click="$ctrl.newItem.quality = quality">{{quality}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label>Name of the Item</label>
          <div class="input-group">
            <input ng-disabled="!$ctrl.rawData" type="text" class="form-control" ng-model="$ctrl.newItem.name" placeholder="Name of Item" ng-keyup="$event.keyCode == 13 && $ctrl.addItem()">
            <span class="input-group-btn">
              <button ng-disabled="!$ctrl.canAddItem()" class="btn btn-primary" type="button" ng-click="$ctrl.addItem()">Add Item</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
